<div class="row">
  <div class="col-xs-12">
    <button class="btn-btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">
          Kolbasz recept
        </h4>
        <p class="list-group-item-text">Ne sajnald a fuszert!</p>
        <span class="pull-right">
          <img src="https://cdn.pixabay.com/photo/2018/01/06/16/26/sausage-3065326_960_720.jpg"
           alt="" class="img-responsive">
        </span>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
