<nav class="navbar navbar-expand-md bg-dark navbar-dark">

      <a href="#" class="navbar-brand">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item" ><a class="nav-link" routerLink="/recipes">Recipes</a></li>
            <li routerLinkActive="active"class="nav-item" ><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown" appDropdown>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Save Data</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Fetch</a>
            </div>
          </li>
        </ul>

      </div>
  </nav>
